h4 {
  margin: 0;
}

.App {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card {
  border: 1px solid #EDEDED;
  border-bottom: 4px solid #EAEAEA;
  margin-bottom: 18px;
  padding: 10px;
}
